<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @primary_model.name %>
</p>

<%= link_to 'Edit', edit_primary_model_path(@primary_model) %> |
<%= link_to 'Back', primary_models_path %>
